<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <meta charset="utf-8">
  <title>Shop-Shop</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styles.css')}}">
</head>

<body>
  <div class="container">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
        <span class="">Shop-Shop</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Products</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="#" class="nav-link">My cart</a></li>
      </ul>
    </header>

    <div class="hero">
      <h1>Flash Sale</h1>
    </div>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/banner1.png')}}" alt="">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->

          <div class="container">

          </div>
        </div>
        <div class="carousel-item">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
          <img src="{{ url_for('static', filename='images/banner1.png')}}" alt="">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/banner1.png')}}" alt="">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <section>
      <div class="heading">
        <h1>Season Fresh Vegetables</h1>
      </div>
      <div class="items-list">
        {% for item in veges: %}
        <div class="item">
          <a href="{{ url_for('products', prod_id=item._id)}}">
            <div class="item-image">
              <img src="{{ url_for('static', filename=item.img_loc)}}" alt="">
            </div>
          </a>
          <div class="item-info">
            <a href="{{ url_for('products', prod_id=item._id)}}">
              <h1>{{ item['name'] }}</h1>
            </a>
            <p class="rating">{{ item['rating'] }}</p>
            <p class="price">₹ {{ item['price'] }}</p>
            <p class="desc">{{ item['description'] }}</p>
            <!-- <button type="button" name="button">Order Now</button> -->
            <div class="button">
              Order Now
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <hr>
    <section>
      <div class="heading">
        <h1>Fresh Herbs & Seasonings</h1>
      </div>
      <div class="items-list">
        {% for item in herbs: %}
        <div class="item">
          <a href="{{ url_for('products', prod_id=item._id)}}">
            <div class="item-image">
              <img src="{{ url_for('static', filename=item.img_loc)}}" alt="">
            </div>
          </a>
          <div class="item-info">
            <a href="{{ url_for('products', prod_id=item._id)}}">
              <h1>{{ item['name'] }}</h1>
            </a>
            <p class="rating">{{ item['rating'] }}</p>
            <p class="price">₹ {{ item['price'] }}</p>
            <p class="desc">{{ item['description'] }}</p>
            <!-- <button type="button" name="button">Order Now</button> -->
            <div class="button">
              Order Now
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <footer class="row row-cols-5 py-5 border-top">
      <div class="col">
        <a href="#" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
          <h5>Shop-Shop</h5>
        </a>
        <p class="text-muted">&copy; 2021</p>
      </div>

      <div class="col">
      </div>

      <div class="col">
        <!-- <h5>Section</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        </ul>
      </div>

      <div class="col">
        <!-- <h5>Section</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        </ul>
      </div>

      <div class="col">
        <!-- <h5>Section</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>

</html>
